In [234]:
import json
import pandas as pd
from pprint import pprint
from fuzzywuzzy import process

In [235]:
africa_iso_code = pd.read_csv('./africa_iso_codes.csv', dtype={'name': str})

In [236]:
with open('./africa.geojson') as data_file:    
    data = json.load(data_file)

In [237]:
def safeget(dct, *keys):
    for key in keys:
        try:
            dct = dct[key]
        except KeyError:
            return None
    return dct

In [238]:
names = [safeget(feature,'properties','name').strip() for feature in data['features']]

In [239]:
def merge_names(names, name):
    return not (name.strip() in names)

In [240]:
orphaned_names = africa_iso_code[africa_iso_code['name'].map(lambda name: merge_names(names,name))]

In [241]:
def best_match(names, name):
    return process.extract(name.strip(), names, limit=1) + [name];

In [242]:
orphaned_names['name'].map(lambda name: best_match(names,name))

32    [(Swaziland, 64), Mayotte Island]
46            [(Kenya, 60), St. Helena]
Name: name, dtype: object

In [253]:
data = pd.read_csv('./visualization_data.csv')

In [268]:
countries_with_data =  set(data['country_name'])

In [269]:
countries_without_data = africa_iso_code[africa_iso_code['name'].map(lambda name: merge_names(names,name))]

In [270]:
countries_without_data

              name 2digit 3digit
32  Mayotte Island     YT    MYT
39  Reunion Island     RE    REU
46      St. Helena     SH    SHN
55     South Sudan     SS    SSD